{{yield}}
{{#if playerReady}}
<span style="float: left; margin-left: 10px;">
<button type="button" {{action "playVideo"}}>Play Orig</button>
</span>
<span>
<button type="button" {{action "playVideo" false}}>Play Dub</button>
</span>
{{/if}}